<h1 class="">My Super Lists</h1>

<%= link_to "New List", new_list_path, class: "btn btn-success" %>

<% @lists.each do |list| %>

  <div class="list-card"><%= link_to list.name, list_path(list) %></div>

<% end %>
