.list-head {
  height: 300px;
  background-image: asset-url('romance.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    justify-content: center;
    object-position: 50% 50%;
    color: white;
    font-weight: 800;
    font-size: 80px;
  }
}
